<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
          https://www.springframework.org/schema/context/spring-context.xsd">

<bean id="java" class="com.sbeans.JavaCourseMaterial">
   <constructor-arg value="Java+SpringBoot+Micro"/>
   <constructor-arg value="400"/>
   <constructor-arg value="Natraj Sir"/>
</bean>
<bean id="py" class="com.sbeans.PythonCourseMaterial">
   <constructor-arg value="Python+Django+Flask"/>
   <constructor-arg value="350"/>
   <constructor-arg value="Ankit Sir"/>
</bean>
<bean id="dot" class="com.sbeans.DotNetCourseMaterial">
   <constructor-arg value="FullStack DotNet"/>
   <constructor-arg value="300"/>
   <constructor-arg value="Durga Sir"/>
</bean>
<context:component-scan base-package="com.sbeans"/>
</beans>